!!!
%html(lang="en")
  %head
    %meta(http-equiv="X-UA-Compatible" content="chrome=1")
    %meta(name="viewport" content="width=device-width")
    - if @description
      %meta(name="description" content=@description)
    %title= @title
    - if @page.metadata('title')
      %meta(name='description' content="#{@page.metadata('title')}")
    - if @page.metadata('keywords')
      %meta(name='keywords' content="#{@page.metadata('keywords')}")
    %link(href="/css/master.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="/articles.xml" rel="alternate" type="application/atom+xml")
    %script(type="text/javascript" src="http://use.typekit.com/vqn6wyg.js")
    :javascript
      try{Typekit.load();}catch(e){}
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    = haml :analytics, :layout => false

  %body(class="#{@page ? @page.template : 'page'}")
    %header
      .wrapper
        %a.home_link(href='/') The EdgeCase Library
        %a#need_development(href='http://edgecase.com')
          Need Development? Check us out!
        .span-2.last
          %h1 Recent Entries
          - counter = 1
          - latest_articles(4).each do |article|
            %a(href="#{article.abspath}" class="span-1 #{ counter%2==1 ? 'first' : 'last' }")= article.title || article.heading

    -##what_it_is_all_about
      .wrapper
        %h1 What It's All About
        %p The EdgeCase Library is a place for articles and content to be shared and passed on the range from beginner to mack daddy baller.

    .wrapper
      = yield

    %footer
