.article
  .meta.span-1
    %h1= @page.title
    - if @page.date
      %h2= "<span>Posted</span> #{format_date(@page.date)}"
    - if @page.metadata('author')
      %h2= "<span>Author</span> #{@page.metadata('author')}"

  .body.span-3.last
    ~ @page.to_html(self)
    .comments= haml :comments, :layout => false
