.article
  .meta.span-1.first
    %h1= @page.title
    .meta_meta
      - if @page.date
        %h2= "<span>Posted</span> #{format_date(@page.date)}"

      - if @page.metadata('author')
        %h2
          %span Author
          - underscorized = @page.metadata('author').downcase.gsub(' ','_')
          %a(href="http://edgecase.com/about##{underscorized}" target='_blank')
            = @page.metadata('author')
            %img(src="http://edgecase.com/images/team/#{underscorized}.jpg" style="width:50px; float: right;")

      - if @page.metadata('source')
        %h2
          %span Source
          %a(href="#{@page.metadata('source')}" target="_blank") Github

  .body.span-3.last
    ~ @page.to_html(self)
    .comments= haml :comments, :layout => false
